
/* Custom CSS */

.txt-color {
	color: #1b4e1b;
}

.bg-color {
    background: #23074d; /* fallback for old browsers */
}

.content-color {
    background: #E0EAFC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.limited-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;  /* Number of lines displayed before it truncate */
     overflow: hidden;
}

/* shopping cart */

.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}

/* @media (min-width: 768px) {

} */

@media screen and (max-width: 960px) {
    table#cart tbody td .form-control{
		width:20%;
		display: inline !important;
	}
	.actions .btn{
		width:20%;
		margin:1.5em 0;
	}
	
	.actions .btn-info{
		float:left;
	}
	.actions .btn-danger{
		float:right;
	}
	
	table#cart thead { display: none; }
	table#cart tbody td { display: block; padding: .6rem; min-width:280px;}
	table#cart tbody tr td:first-child { background: #333; color: #fff; }
	table#cart tbody td:before {
		content: attr(data-th); font-weight: bold;
		display: inline-block; width: 8rem;
	}
    
    .subtotal {
        text-align: left !important;
    }

	.total {
        text-align: left !important;
    }
	
	table#cart tfoot td{display:block; }
	table#cart tfoot td .btn{display:block;}
	
}
